@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slick-list {
  border-radius: 4px;
}

/* Styles for mediaItem carousels */

.media-images .slick-prev:before {
  background-color: hsla(220, 9%, 7%, 0.6) !important;
  border: 1.3px solid white;
  border-radius: 4px;
  width: 36px;
  height: 44px;
  content: '' !important;
  position: absolute;
  background-position: center;
  top: -11px;
  left: 3px;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/eletourneau/image/upload/v1685583470/prevButton_qmmciv.png');
}
.media-images .slick-next:before {
  background-color: hsla(220, 9%, 7%, 0.6) !important;
  border: 1.3px solid white;
  border-radius: 4px;
  width: 36px;
  height: 44px;
  content: '' !important;
  position: absolute;
  background-position: center;
  top: -11px;
  right: 3px;

  background-size: cover;
  background-image: url('https://res.cloudinary.com/eletourneau/image/upload/v1685583470/nextButton_exxjod.png');
}

.media-images .slick-prev {
  z-index: 500;
}

.media-images .slick-next {
  z-index: 500;
}

/* Styles for homepage carousels */

.homepage .slick-prev:before {
  background-color: hsla(220, 9%, 7%, 0.6) !important;
  border: 1.3px solid white;
  border-radius: 4px;
  content: '' !important;
  position: absolute;
  background-position: center;
  width: 45px;
  height: 60px;
  top: -20px;
  left: 8px;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/eletourneau/image/upload/v1685583470/prevButton_qmmciv.png');
  z-index: 1000;
}
.homepage .slick-next:before {
  background-color: hsla(220, 9%, 7%, 0.6) !important;
  border: 1.3px solid white;
  border-radius: 4px;
  content: '' !important;
  position: absolute;
  background-position: center;
  width: 45px;
  height: 60px;
  top: -20px;
  right: 8px;

  background-size: cover;
  background-image: url('https://res.cloudinary.com/eletourneau/image/upload/v1685583470/nextButton_exxjod.png');
  z-index: 1000;
}

.tablet-arrows .slick-next:before {
  width: 36px !important;
  height: 44px !important;
  top: -11px !important;
  right: 15px !important;
}

.tablet-arrows .slick-prev:before {
  width: 36px !important;
  height: 44px !important;
  top: -11px !important;
  left: 15px !important;
}

.homepage .slick-prev {
  z-index: 5000;
}

.homepage .slick-next {
  z-index: 5000;
}

.element {
  /* background-image: url('path/to/image.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: zoom;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes zoom {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 200%;
  }
}
@keyframes kenBurnsEffect {
  0% {
    transform: scale(1) translateX(0%) translateY(0%);
  }

  25% {
    transform: scale(1.6) translateX(-10%) translateY(-15%);
  }

  50% {
    transform: scale(1) translateX(0%) translateY(0%);
  }

  75% {
    transform: scale(1.6) translateX(10%) translateY(15%);
  }
  100% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
}

/* @keyframes kenBurnsEffect {
  0% {
    transform: scale(1.2) translateX(0%) translateY(0%);
  }

  50% {
    transform: scale(1.2) translateX(10%) translateY(0%);
  }

  100% {
    transform: scale(1.2) translateX(0%) translateY(0%);
  }
} */

@keyframes kenBurnsEffectAlt {
  0% {
    transform: scale(1.2) translateX(5%) translateY(-5%);
  }
  100% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  /* 50% {
    transform: scale(1.2) translateX(5%) translateY(-5%);
  } */

  /* 100% {
    transform: scale(1) translateX(0%) translateY(0%);
  } */
}

.youtube-container {
  overflow: hidden;
  width: 101%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 2.393/1;
  /* aspect-ratio: 16/9; */
  /* No clicking/hover effects */
  pointer-events: none;
}
.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;

  height: 100%;
  /* ...and bring it back again */
  margin-left: -100.5%;
}
